 
 *{
    font-family: 'Outfit', sans-serif; background-color: #fefefc00;;
 }
 
 .heading{
    
    background-color: blueviolet;
 }
 

#cv-template{
    display: none;
    max-width: 90%;
}



.cT {
    text-align: center;

}
.myimg{
    width: 200px;
    border-radius: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    height: 33vh;
    
}

#pAddButton button{
    margin-top: 20%;
}

.background{
    background-color: blueviolet;
   
}